.fav-badge {
    position: relative;
    padding-right: 30px;
}

.fav-badge--active .fav-badge__notification {
    display: block;
}

.fav-badge__notification {
    display: none;
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 0.8rem;
    z-index: 10;
}
