.photo-list__item {
  margin: 0;
  padding: 20px;
  border: 1px solid lightgray;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f9f9;
  width: 210px;
  height: 280px;
  position: relative;
}

.photo-list_image_block {
  position: relative;
  cursor: pointer;
}

.photo-list__image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.img-fav-btn {
  position: absolute;
  left: 10px;
  top: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: white;
  transition: color 0.3s ease-in-out;
}

.img-fav-btn.selected {
  color: red;
}

.photo-list__user-container {
  display: flex;
  margin-top: 20px;
  align-items: center;
}

.photo-list__user-profile {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}

.photo-list__user-details {
  flex: 1;
}

.photo-list__user-info {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 16px;
}

.photo-list__user-location {
  font-size: 16px;
  color: #666;
  margin-top: 5px;
}
